.advantages {
  margin: 0;
  padding: 0 21px 18px 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: @basic_black;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  padding-left: 80px;
}
