.advantages__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.advantages {
  margin: 0;

  @media (max-width: @mobile-width-only) {
    padding: 0 20px 32px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px 4px;
    border-bottom: 1px solid @border_line;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    border: none;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: @basic_black;

  @media (max-width: @mobile-width-only) {
    margin-top: 28px;
    margin-bottom: 40px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    padding-top: 16px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 28px;
    margin-bottom: 70px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  padding-bottom: 1px;
  height: 66px;

  &::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-color: @basic_green;
  }

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-right: 153px;
    min-height: 280px;

    &::before {
      content: "";
      position: absolute;
      height: 80px;
      width: 80px;
      background-repeat: no-repeat;
      background-color: @basic_green;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;

    &::before {
      content: "";
      position: absolute;
      height: 80px;
      width: 80px;
      background-repeat: no-repeat;
      background-color: @basic_green;
    }
  }
}

.advantages__item p {
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    position: absolute;
    left: 0;
    top: 92px;
    width: 246px;
  }
}

.advantages__item:nth-child(2) p {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    top: 92px;
    width: 246px;
  }
}

.advantages__item--substances {
  @media (min-width: @tablet-width) {
    background-image: url("../img/1.svg");
    background-repeat: no-repeat;
    background-position: 96% 0%;
    margin-right: 157px;

    && p {
      padding-top: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 102px;
  }

  &&::before {
    background-image: url("../img/icon_leaf.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 60px;
    height: 60px;

    @media (min-width: @tablet-width) {
      background-size: 37%;
      width: 80px;
      height: 80px;
      margin-top: 2px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 2px;
      background-size: 37%;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--powder {
  margin-top: -1px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/2.svg");
    background-repeat: no-repeat;
    background-position: 94% 0%;
    margin-right: 88px;

    && p {
      padding-top: 6px;
      padding-left: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 42px;

    && p {
      margin-left: -6px;
      padding-top: 8px;
    }
  }

  &&::before {
    background-image: url("../img/icon_tub.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 60px;
    height: 60px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-size: 36%;
      margin-top: 2px;
      margin-left: 25px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 20px;
      background-size: 36%;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--replace {
  margin-top: -1px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/3.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin-top: 34px;
    margin-right: 122px;

    && p {
      padding-top: 8px;
      padding-left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 42px;

    && p {
      margin-left: 38px;
      padding-top: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-right: 30px;
  }

  &&::before {
    background-image: url("../img/icon_eat.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    width: 60px;
    height: 60px;

    @media (min-width: @tablet-width) {
      background-size: 31%;
      width: 80px;
      height: 80px;
      margin-top: 2px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 2px;
      margin-left: 40px;
      background-size: 31%;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--changes {
  margin-top: -1px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/4.svg");
    background-repeat: no-repeat;
    background-position: 94% 0%;
    margin-right: 78px;

    margin-top: 38px;

    && p {
      padding-top: 4px;
      padding-left: 25px;
    }

    .advantages__item-text {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 42px;

    && p {
      margin-left: 34px;
      padding-top: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-right: -12px;
  }


  &&::before {
    background-image: url("../img/icon_alarm.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 60px;
    height: 60px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      margin-top: 0;
      margin-left: 25px;
      background-size: 42%;
    }

    @media (min-width: @desktop-width) {
      margin-top: 2px;
      margin-left: 60px;
      background-size: 39%;
      width: 80px;
      height: 80px;
    }
  }
}

//.advantages__item::before {
//  position: absolute;
//  content: "";
//  left: 0;
//  margin-top: -3px;
//  background-size: cover;
//  background-repeat: no-repeat;
//  width: 60px;
//  height: 60px;
//}
