.button__global {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_green;
  color: @basic_white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    background-color: @basic_green-2;
    color: fade(@basic_white, 30%);
  }
}

.show-all__button {
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  font: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_grey;
  color: @special_dark-grey;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    background-color: @basic_green-2;
    color: fade(@basic_white, 30%);
  }
}
