.button-global {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: @font_primary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_green;
  color: @basic_white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    background-color: @basic_green-2;
    color: fade(@basic_white, 30%);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

.button-global__form {
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    height: 40px;
    margin-top: -9px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
