.catalog {
  margin: 0;
  padding: 0;
}

.catalog__page-title {
  margin: 0;
  margin-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic_black;
  text-transform: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 41px;
  border-bottom: 1px solid @border_line;
}

.catalog__list,
.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__list-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 25px;
}

.catalog__list-item-image {
  margin: auto;
}

.catalog__list-item {
  padding-top: 19px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid @border_line;
}

.data__caption {
  width: 70%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding-bottom: 18px;
  color: @special_dark-grey-2;
}

.add-data__caption {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding-bottom: 13px;
  color: @special_dark-grey-2;
}

.catalog__list-item-data,
.additional-goods__list-item-data {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  border-collapse: collapse;
}

.data__value {
  text-align: right;
}

.show__all {
  color: @special_dark-grey-2;
  padding-right: 20px;
  padding-left: 20px;
}

.show-all__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: @special_dark-grey-2;
}

.show-all__description {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-transform: none;
  text-align: center;
}

.additional-goods__title {
  margin: 0;
  margin-top: 27px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @basic_black;
  text-transform: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.additional-goods__list-item-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 15px;
  margin-top: 13px;
}

.additional-goods__list-item {
  border-top: 1px solid @border_line;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 19px;
}

.additional-goods__list-item h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.bonus {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 39px;
  margin-bottom: 35px;
  height: 289px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-image: url("/img/gift-photo-mobile-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: @basic_white;
}

.additional-goods__list-item:last-child {
  border-bottom: 1px solid @border_line;
}

.bonus__wrapper p {
  padding-top: 185px;
}
