.example {
  margin: 0;
  padding: 27px 21px 18px 20px;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to bottom, @basic_white 57%, @basic_grey 0), url("/img/image_cat_tablet.png");

    .example-container {
      display: flex;
      justify-content: space-between;
    }

    .example__price {
      font-size: 20px;
      line-height: 20px;
      padding-top: 10px;
      width: 184px;
      text-align: right;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    padding-bottom: 30px;
  }
}

.example__data {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.example__item {
  width: 124px;
  box-sizing: border-box;
  height: 64px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.example__item:first-child {
  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border: 1px solid @border_line;
  padding-top: 11px;
  padding-bottom: 18px;
  color: @basic_black;
}

.example__legend {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -33px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    background-color: @basic_white;
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.example__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example__slider {
  width: auto;
}

.example__slider-toggles {
  padding-left: 58px;
  padding-right: 45px;
  display: flex;
  justify-content: space-between;
}

.example__slider-toggle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}
