.page-footer__wrapper {
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @basic_grey;
}

.page-footer__logo-name {
  display: block;
  text-align: center;
  padding-bottom: 32px;
  border-bottom: 1px solid @border_line;
}

.page-footer__social {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 21px;
}

.social__link {
  text-decoration: none;
}

.page-footer__copyright {
  display: flex;
  margin-top: 21px;
  padding-top: 21px;
  padding-bottom: 22px;
  border-top: 1px solid @border_line;
  text-decoration: none;
  justify-content: space-between;
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
}
