.invitation__wrapper {
  padding: 28px 19px 22px 20px;
  display: flex;
  justify-content: space-between;
  background-color: @basic_white;
}

.invitation__wrapper--grey {
  background-color: @basic_grey;
}

.invitation__title {
  margin: 0;
  padding: 0;
  width: 140px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.invitation__address {
  margin: 0;
  padding: 0;
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.invitation__map {
  margin: 0;
  padding: 0;
  background-image: url("/img/location-mobile.jpg");
  width: 100%;
  height: 362px;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-image: url("/img/location-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/location-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }
}
