.invitation__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: @basic_white;
  z-index: 1;

  @media (max-width: @mobile-width-only) {
    padding: 27px 19px 26px 20px;
    background-color: @basic_white;
  }

  @media (min-width: @tablet-width) {
    padding: 64px 82px 38px 72px;
    margin-top: -5px;
    margin-bottom: 2px;
    background-color: @basic_white;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 110px;
    margin-top: 95px;
    padding: 66px 89px 63px 76px;
    width: 570px;
    box-sizing: border-box;
    background-color: @basic_white;
  }
}

.invitation__wrapper--grey {
  background-color: @basic_grey;

  @media (max-width: @mobile-width-only) {
    padding: 27px 19px 26px 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 64px 72px 36px 72px;
    margin-top: -5px;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic_white;
    position: absolute;
    left: 110px;
    margin-top: 95px;
    padding: 64px 89px 63px 76px;
    width: 570px;
    box-sizing: border-box;
  }
}

.invitation__title {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-left: -1px;
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 21px;
    width: 171px;
    padding-top: 2px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    font-size: 20px;
    line-height: 21px;
    width: 171px;
    padding-top: 2px;
  }
}

.invitation__title-second {
  position: absolute;
  margin-top: 4px;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 19px;
    padding-top: 0;
  }
}

.invitation__title-diler {
  margin-top: 4px;
  display: block;
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 19px;
    padding-top: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 26px;
  }
}

.invitation__address {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    margin-top: -2px;
    margin-bottom: 20px;
    width: 159px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    text-align: left;
    margin-left: 250px;
    margin-top: -4px;
  }
}

.invitation__address-town {
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 19px;
  }
}

.invitation__map {
  margin: 0;
  margin-top: -2px;
  padding: 0;
  background-image: url("../img/location-mobile.jpg");
  height: 362px;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-image: url("../img/location-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/location-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 2px;
  }
}
