.programs {
  margin: 0;
  padding: 0;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: @basic_black;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px 33px 18px 20px;
  background-color: @basic_grey;
}

.programs__description {
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid @border_line;
}

.programs__item-button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @basic_black;
  text-decoration: none;
  text-transform: uppercase;
}
