.promo {
  position: relative;
  margin: 0;
  padding: 0;
  height: 302px;
  background: @basic_green url("../img/index-background-mobile.jpg") no-repeat;
  background-size: cover;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (max-width: @mobile-width-only) {
    margin-bottom: 200px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    background-color: @basic_white;
    background-image: none;
    height: 609px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 102px;
  }
}

.promo__wrapper {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.promo__container {
  @media (min-width: @desktop-width) {
    position: absolute;
    background: @basic_green url("../img/index-background-desktop.jpg") no-repeat;
    margin-top: -68px;
    align-self: flex-end;
    width: 720px;
    height: 694px;

    @media (min-resolution: 2dppx) {
      background: @basic_green url("../img/index-background-desktop@2x.jpg") no-repeat;
    }
  }
}

.promo__header-title {
  z-index: 1;
  margin: 0;
  padding: 0;
  margin-top: -1px;
  margin-bottom: 26px;
  font-family: @font_primary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: @basic_black;
    width: 414px;
    text-align: left;
    padding-left: 117px;
    margin-top: -288px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-left: 190px;
    padding-top: 158px;
    padding-bottom: 40px;
    margin: 0;
  }
}

.promo__header-slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: @basic_white;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-left: -3px;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: @basic_black;
    width: 414px;
    text-align: left;
    padding-left: 117px;
    margin-top: 41px;
    margin-bottom: 90px;
    margin-left: 0;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
    margin-top: 0;
    margin-bottom: 29px;
  }
}

.promo__header-image {
  @media (min-width: @tablet-width) {
    padding-right: 4px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    margin-top: 232px;
    margin-left: -522px;
    width: 552px;
    height: 499px;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    margin-top: -88px;
  }
}

.promo__button {
  display: block;
  width: 280px;
  box-sizing: border-box;
  padding: 11px 20px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  background-color: @basic_green;
  color: @basic_white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    background-color: @basic_green-2;
    color: fade(@basic_white, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-top: -581px;
    margin-left: 112px;
    margin-right: 0;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
    width: 244px;
    /*margin-left: 112px;
    margin-left: 190px;
    margin-top: -157px;
    z-index: 3; */
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
    margin-left: 190px;
    padding: 18px 26px 16px;
  }
}
