.promo {
  position: relative;
  margin: 0;
  padding: 0;
  height: 302px;
  padding-top: 27px;
  background-image: linear-gradient(fade(@basic_green, 85%), fade(@basic_green, 85%)), url("/img/index-background-mobile-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 170px;

  @media (min-width: @tablet-width) {
    .promo__header-image {
      display: none;
    }
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/img/index-can-tablet-1.png");
    width: 709px;
    height: 609px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    .promo__header-image {
      display: none;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(fade(@basic_green, 85%), fade(@basic_green, 85%)), url("/img/index-background-mobile-2.jpg");
    width: 709px;
    height: 609px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.promo__wrapper {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
  }
}

.promo__header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: @basic_black;
    width: 414px;
    text-align: left;
    padding-left: 90px;
    margin-top: -250px;
  }
}

.promo__header-slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: @basic_white;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: @basic_black;
    width: 414px;
    text-align: left;
    padding-left: 90px;
    margin-bottom: 100px;
  }
}

.promo__button {
  display: block;
  width: 280px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: @basic_green;
  color: @basic_white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    background-color: @basic_green-2;
    color: fade(@basic_white, 30%);
  }

  @media (min-width: @tablet-width) {
    padding: 14px 20px;
    width: 244px;
    margin-top: -40px;
    margin-left: 90px;
  }
}
