.site-list {
  font-weight: bold;

  @media (max-width: @mobile-width-only) {
    margin-top: 22px;
    /* z-index: 9999; */
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-left: 0;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    padding-top: 31px;
    margin-right: -2px;
    width: 479px;
    z-index: 3;
  }
}

.site-list__item {
  @media (min-width: @tablet-width) {
    &:first-child {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 36px;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 70px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: @basic_green; // current menu item underline
      }
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 32px;

    &:first-child {
      margin-left: -3px;
      margin-right: 36px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 1px;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 75px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: @basic_green; // current menu item underline
      }
    }
  }
}

.site-list__item-index {
  @media (min-width: @tablet-width) {
    &:first-child {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 36px;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 70px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: @basic_green; // current menu item underline
      }
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 32px;

    &:first-child {
      margin-left: -3px;
      margin-right: 36px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 1px;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 75px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: @basic_white; // current menu item underline
      }
    }
  }
}

.site-list__item--index a[href] {
  @media (min-width: @desktop-width) {
    &:hover {
      color: @basic_white;
      opacity: 0.7;
    }

    &:active {
      color: @basic_white;
      opacity: 1;
    }

    &:focus {
      color: @basic_white;
      opacity: 0.3;
    }
  }
}

.site-list__item a[href] {
  @media (min-width: @tablet-width) {
    &:hover {
      color: @basic_black;
      opacity: 0.7;
    }

    &:active {
      color: @basic_black;
    }
  }

  @media (min-width: @desktop-width) {
    &:hover {
      color: @basic_black;
      opacity: 0.7;
    }

    &:active {
      color: @basic_black;
      opacity: 1;
    }

    &:focus {
      color: @basic_black;
      opacity: 0.3;
    }
  }
}

.site-list__item:last-child a {
  border-bottom: 1px solid @border_line;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.site-list a {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: @basic_black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @basic_white;
  border-top: 1px solid @border_line;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 39px;
    padding-bottom: 23px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background: none;
    border: none;
  }

  @media (min-width: @desktop-width) {
    color: @basic_black;
    font-weight: 400;

    &:first-child {
      font-size: 20px;
      line-height: 30px;
    }

    &:last-child {
      font-size: 20px;
      line-height: 30px;
    }

    &:hover {
      color: @basic_black;
      opacity: 0.7;
      cursor: pointer;
    }

    &:active {
      color: @basic_black;
      opacity: 1;
    }

    &:focus {
      color: @basic_black;
      opacity: 0.3;
    }
  }
}

.site-list__index a {
  @media (min-width: @desktop-width) {
    color: @basic_white;
    font-weight: 400;

    &:first-child {
      font-size: 20px;
      line-height: 30px;
    }

    &:last-child {
      font-size: 20px;
      line-height: 30px;
    }

    &:hover {
      color: @basic_white;
      opacity: 0.3;
    }

    &:active {
      color: @basic_white;
      opacity: 1;
    }
  }
}

/* .site-list--form a {
  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 39px;
    padding-bottom: 23px;
    font-size: 18px;
    line-height: 24px;
    background: none;
    border: none;
  }

  @media (min-width: @desktop-width) {
    color: @basic_black;

    &:hover {
      color: @basic_black;
      opacity: 0.3;
    }

    &:active {
      color: @basic_black;
      opacity: 1;
    }
  }
} */
