//Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

// Globals

@import "global/fonts.less";
@import "node_modules/normalize.less/normalize.less";
@import "global/variables.less";
@import "global/global.less";

// Blocks

@import "blocks/page.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/button.less";
@import "blocks/promo.less";
@import "blocks/programs.less";
@import "blocks/advantages.less";
@import "blocks/example.less";
@import "blocks/invitation.less";
@import "blocks/page-footer.less";
@import "blocks/form.less";
@import "blocks/filter.less";
@import "blocks/social.less";
@import "blocks/catalog.less";
@import "blocks/additional-goods.less";
@import "blocks/show-all.less";
